 <%- include("../partials/adminHeader") %>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-secondary rounded mx-0 pt-3">
                   <form action="/admin/edit-Product/<%= product._id %>" method="post">  
                    
                    <div class="form-floating mb-3 ">
                        <input type="productName" class="form-control" id="floatingInput"
                        placeholder="name@example.com" name="name" value="<%= product.name %>">
                        <label for="floatingInput">Name</label>
                    </div>   
                    <div class="form-floating mb-3 ">
                        <input type="productName" class="form-control" id="floatingInput"
                        placeholder="name@example.com" name="stock" value="<%= product.stock %>">
                        <label for="floatingInput">Stock</label>
                    </div> 
                    <div class="input-group mb-3">
                        <span class="input-group-text">₹</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="price" placeholder="<%= product.price %>">
                        <span class="input-group-text">.00</span>
                    </div>
                
                    <div class="form-floating">
                        <textarea class="form-control" name="description" placeholder="Leave a comment here"
                            id="floatingTextarea" style="height: 150px;"></textarea>
                        <label for="floatingTextarea"><%= product.description %></label>
                    </div>
<!--                 
                    <div class="mb-3 pt-4" >
                        <label for="formFileMultiple" class="form-label">Upload Product Images</label>
                        <input class="form-control bg-dark" type="file"  name="images" accept="image/*" multiple>
                    </div>
                 -->
                 
                 <div class="mb-3 pt-4">
                    <label for="existingImages" class="form-label">Existing Product Images:</label>
                    <div id="existingImages" class="d-flex flex-wrap">
                        <% product.images.forEach(function(image, index) { %>
                            <div class="mr-2 mb-2">
                                <img src="/uploads/product/<%= image %>" alt="Product Image" class="img-thumbnail"
                                    style="width: 80px; height: 110px;" id="imagePreview<%= index %>">
                
                                <button type="button" class="btn btn-primary btn-sm" onclick="editImage('<%= image %>', '<%= index %>')" >Crop</button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteImage('<%= image %>', '<%= index %>')">Delete</button>
                            </div> &nbsp;&nbsp;
                        <% }) %>
                    </div>
                </div>
                

            
<script>

                function editImage(imageName, index) {
                    const imageElement = document.getElementById(`imagePreview${index}`);
                    const cropperModalContent = `
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Crop Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <img id="cropperImage" src="${imageElement.src}" alt="Croppable Image" style="max-width: 100%;">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                   
                                    <button type="button" class="btn btn-primary" onclick="cropImage('${imageName}', '${index}')">Crop</button>
                                </div>
                            </div>
                        </div>`;
                    
                    Swal.fire({
                        title: 'Crop Image',
                        html: cropperModalContent,
                        showCancelButton: true,
                        showConfirmButton: false,
                        didOpen: () => {
                            const imageElement = document.getElementById('cropperImage');
                            cropper = new Cropper(imageElement, {
                                aspectRatio: 0.74, // Set your desired aspect ratio
                                viewMode: 1, // Set the view mode for the Cropper.js instance
                                cropBoxResizable: false,
                            });
                        },
                        willClose: () => {
                            if (cropper) {
                                cropper.destroy();
                            }
                        },
                    });
                }
                
                function cropImage(imageName, index) {
    const imageElement = document.getElementById(`imagePreview${index}`);
    if (cropper) {
        const canvas = cropper.getCroppedCanvas();
        const croppedImage = canvas.toDataURL('image/jpeg');

        console.log(croppedImage, imageName , index);
        // Send the cropped image data to the server using fetch
        fetch('/admin/uploadCroppedImage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ imageName, croppedImage }),
        })
        .then(response => {
            if (response.ok) {
                // On successful response (assuming your server responds with a success status)
                // Update the original image source after the server confirmation
                imageElement.src = croppedImage;
                Swal.close(); // Close the SweetAlert modal after cropping
            } else {
                // Handle errors or unsuccessful response here
                console.error('Failed to upload cropped image');
            }
        })
        .catch(error => {
            // Handle fetch errors here
            console.error('Error while uploading cropped image:', error);
        });
    }
}

                

</script>






            <!-- Input for new images -->
            <!-- <div class="mb-3 pt-4">
                <label for="newImages" class="form-label">Upload Additional Product Images:</label>
                <input class="form-control" type="file" id="newImages" name="newImages" accept="image/*" multiple>
            </div> -->


                    <div class="m-n2">
                        <button class="btn btn-primary w-50 m-4  " type="submit">Update</button>
                    </div>
                
                </form> 
                
                </div>
            </div>
            <!-- Blank End -->

         
            <!-- Footer Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end"> -->
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <!-- Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://kit.fontawesome.com/744b7c765b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
</body>

</html>