<%- include("../partials/adminHeader") %>

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">irfan</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded mx-0">
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Filter by Order Status
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="statusDropdown">
                                    <li><a class="dropdown-item" href="/admin/sales">All Orders</a></li>
                                    <li><a class="dropdown-item" href="/admin/sales?status=Placed">Placed</a></li>
                                    <li><a class="dropdown-item" href="/admin/sales?status=Shipped">Shipped</a></li>
                                    <li><a class="dropdown-item" href="/admin/sales?status=Out">Out for Delevery </a></li>
                                    <li><a class="dropdown-item" href="/admin/sales?status=Delivered">Delivered</a></li>
                                    <li><a class="dropdown-item" href="/admin/sales?status=Cancelled">Cancelled</a></li>
                                    <!-- Add more status options as needed -->
                                </ul>
                            </div>

                            <h6 class="mb-0">Sales</h6>
                            <a href="/admin/SalesReport">Sales Report</a>
                        </div>
                        
                            <div class="col-12">
                               
                                    <div class="table-responsive">
                                        <table class="table" id="orders-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">User Id</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">Payment Status </th>
                                                    <th scope="col">Method</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Delevery Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% orderdata.forEach(function(order, index) { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= index + 1 %>
                                                        </th>
                                                        <td>
                                                            <%= order.user_Id %>
                                                        </td>
                                                        <td>
                                                            <% order.items.forEach(function(item) { %>
                                                                <%= item.name %>, <!-- Assuming productName exists in item object -->
                                                                    <% }) %>
                                                        </td>
                                                        <td>
                                                            <%= order.paymentStatus %>
                                                        </td>
                                                        <td>
                                                            <%= order.paymentMethod %>
                                                        </td>
                                                        <td>
                                                            <%= order.totalAmount %>
                                                        </td>
                                                        <td>
                                                            <%= order.status %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                    
                                            </tbody>
                                            
                                        </table>
                                    <!-- <h5>Total Amount</h5> &nbsp; &nbsp; <h5></h5> -->
                                </div>
                            </div>
                            </div>
                            </div>
                            <!-- Table End -->
                        <div>
                            <button class="btn btn-secondary calender" onclick="filterByDate()" type="button" aria-expanded="false"> filter by date</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Blank End -->


        <style>
            #date-range-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#date-range-picker label {
    margin-bottom: 5px;
    font-weight: bold;
}
        </style>
        <script>

            
            async function  filterByDate() {
               const { value: dates } = await Swal.fire({
                    title: 'Select Date Range',
                    html:
                        '<div id="date-range-picker">' +
                        '<label for="start-date">Start Date:</label>' +
                        '<input id="start-date" type="date" />' +
                        '<label for="end-date">End Date:</label>' +
                        '<input id="end-date" type="date" />' +
                        '</div>',
                    focusConfirm: false,
                    didOpen: () => {
                        const today = new Date().toISOString().split('T')[0];
                        const oneYearAgo = new Date(new Date().setFullYear(new Date().getFullYear() - 1)).toISOString().split('T')[0];

                        document.getElementById('start-date').min = oneYearAgo;
                        document.getElementById('end-date').min = oneYearAgo;
                        document.getElementById('start-date').max = today;
                        document.getElementById('end-date').max = today;
                    },
                    preConfirm: () => {
                        const startDate = document.getElementById('start-date').value;
                        const endDate = document.getElementById('end-date').value;
                        return [startDate, endDate];
                    }
                });


                if (dates) {
                    const [startDate, endDate] = dates;
                   

                    fetch(`/admin/salesdate?startDate=${startDate}&endDate=${endDate}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);

                            renderOrdersTable(data)
                            // Optionally, update the UI or show a notification upon success
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                            // Optionally, handle the error or show a notification
                        });

                }

            }

            function renderOrdersTable(orderData) {
                    const ordersTable = document.getElementById('orders-table');
                    const tbody = ordersTable.querySelector('tbody');

                    // Clear existing table body content
                    tbody.innerHTML = '';

                    // Loop through orderData and update the table rows
                    orderData.forEach((order, index) => {
                        const row = tbody.insertRow();
                        row.innerHTML = `
            <th scope="row">${index + 1}</th>
            <td>${order.user_Id}</td>
            <td>${order.items.map(item => item.name).join(', ')}</td>
            <td>${order.paymentStatus}</td>
            <td>${order.paymentMethod}</td>
            <td>${order.totalAmount}</td>
            <td>${order.status}</td>
        `;
                    });
                }
        </script>







        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Ashion.com</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">Irfan</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer End -->
    </div>
    <!-- Content End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://kit.fontawesome.com/744b7c765b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/admin/lib/chart/chart.min.js"></script> -->
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
    </body>

    </html>